/* style jQuery dialog box */
.ui-widget-content {
	border: solid 2px black;
    background: #ffffff;
    color: #000000;
}

/* style jQuery dialog box header */
.ui-widget-header {
    border: 2px solid #000000;
    background: #035e00;
    color: white;
}

/* jQuery dialog box remove close button */
.no-close .ui-dialog-titlebar-close {
	display: none;
}

/* center title text */
.ui-dialog .ui-dialog-title {
    float: none;
}

/* message style */
#dialog-message {
    font-size: 0.8em;
}

/* remove border from above play again button */
.ui-widget-content .ui-widget-content {
    border: none;
}

/* float button in center */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
	margin: auto;
	display: flex;
}

/* button styles */
.ui-dialog .ui-dialog-buttonpane button {
    margin: auto;
	padding: 10px;
	background-color: #035e00;
    width: fit-content;
    display: none;
}